@import url("https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");

.footer {
  font-family: "Wittgenstein", serif;
  position: sticky;
  bottom: 0;
  background-color: #fffceb;
  font-size: 1.25rem;
  color: #333333;
  text-align: right;
  padding: 1rem;
}
